@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* 전체 페이지가 스크롤되지 않도록 설정 */
}
.wrap {
    position: relative;
    height: 100vh;
    background-color: #000;
    padding: 10px;
}
header {
    z-index: 100;
    /* background-color: aquamarine; */
    width: 20%;
    height: calc(100vh - 96px);
    box-sizing: border-box;
    position: fixed; /* 헤더를 고정 */
}
main {
    background-color: #111;
    border-radius: 10px;
    width: calc(80% - 30px); /* 헤더와 메인 사이 간격과 오른쪽 마진 고려하여 너비 설정 */
    height: calc(100vh - 96px);
    overflow-x: hidden;
    box-sizing: border-box;
    position: absolute; /* 메인을 고정 */
    left: calc(20% + 20px); /* 헤더의 너비와 간격을 고려하여 왼쪽 위치 설정 */
    margin-right: 10px; /* 오른쪽 마진 추가 */
}
footer {
    background-color: sandybrown;
    height: 66px;
    width: calc(100% - 20px); /* 좌우 여백을 뺀 너비 */
    position: fixed;
    bottom: 10px;
    box-sizing: border-box;
}
main .fd{
    margin-top: 2000px;
}